.bgcolor {
    background-color : black;
    background-size : cover;
    height : 250px;
    width : 100%;
}

.inner-text{
    position: absolute;
    top: 50%;
    left: 50%;
}

p {
    color : white;
    font-family: 'Gothic A1', sans-serif;
}
