body {
    background-color: black;
    font-family: 'Gothic A1', sans-serif;
    margin: 0;
}

h4 {
    font-size: 1.5vw;
    margin-top: 7.5vw;
    margin-left: 7vw;
    opacity: 0.5;
}

@media (max-width: 1000px) {
  .noMobile {
    display: none;
  }
}

#title {
    text-align: center;
    line-height: 7.5vw;
}

.textArea {
    width: 100vw;
    height: 16.5vw;
    color: white;
}

.modalArea {
    background-color: white;
    width: 100vw;
    height: 13vw;
}

.buttonStyle {
    display: inline-block;
    font-size: 12vw;
    border-radius: 1.5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.2);
    font-weight: 600;
    background: linear-gradient(-45deg, #33ccff 0%, #ff99cc 100%);
    color: white;
    text-decoration: none;
    border: none;
    transition: 0.25s;
    background-size: 400% 400%;
    animation: gradient1 5s ease infinite;
}

.buttonStyle:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}


@keyframes gradient1 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.modal {
    display: flex;
    position: fixed;
    z-index: 10;
    width: 52.5vw;
    height: 52.5vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-inner {
    background-color: white;
    border-radius: 0.75vw;
    width: 52.5vw;
    height: 52.5vw;
    padding: 3vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

[x-cloak] {
    display: none !important;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.75;
}
