.bgcolor {
    background-color : black;
    background-size : cover;
    height : 250px;
    width : 100%;
}

h1 {
    text-align : center;
    color : white;
    font-family : 'Jeju Godthic', cursive;
}
